table, td {
	border:solid black;
	border-collapse: collapse;
}
table {
	width:200%;
	height:200%;
}
body {
	height:200px;
	width:200px;
}
.blue {
	background-color:dodgerblue;
}
.red {
	background-color:red;
}

.lime {
	background-color:lime;
}

.yellow {
	background-color:yellow;	
}
.black {
	background-color:black;
}
