body {
	color:White;
	background-image:url("https://cdn.wallpapersafari.com/30/55/0BD1oV.jpg");
}
h1, h2, h3, h4{
	font-family:"arial";
	font-size: 22px;
	text-align:center;
	
}

.program{
	color:white;
	text-align: center;
}
.program2{
	text-align:center;
}
a:link {
	text-decoration: none;
	color:white;
}
.video {
	color:white;
}
.info{
	text-align:center;
}

.wrapper {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "eddie tom adam";
  /*"content1 ariel bilder";*/
}

section {
	display:grid;
	grid-area:adam;
	
}

section:first-of-type{
	grid-area:eddie;
}

section:last-of-type{
	grid-area:tom;
}


.ariel {
	display:grid;
	
	
}
.bilder {
	/*display:grid;
	grid-area:"tom";
	*/
}

h1{
	display:grid;
	
	
}

h2{
	display:grid;
	
	
}

h3{
	display:grid;
	
	
}

img{
	width:600px;
}
