body {
	color:White;
	background-image:url("https://cdn.wallpapersafari.com/30/55/0BD1oV.jpg");
}
h1, h2, h3, h4{
	font-family:"arial";
	font-size: 22px;
	text-align:center;
	
}

.program{
	color:white;
	text-align: center;
}
.program2{
text-align:center;
}
a:link {
text-decoration: none;
color:white;
}
.video {
color:white;
}
.info{
	text-align:center;
}

.wrapper {
  display:grid;
  grid-template-columns: f1 f1 f1;
  grid-template-areas: 
  "h1 h2 h3"
  "content1 ariel bilder";
}

section {
	display:grid;
	grid-area:"content1";	
	
}

.ariel {
display:grid;
grid-area:"ariel";	
	
}
.bilder {
display:grid;
	display-area:"bilder";
}

h1{
display:grid;
	display-area:"h1";
	
}

h2{
display:grid;
	display-area:"h2";
	
}

h3{
display:grid;
	display-area:"h3";
	
}
